/* fonts importadas do google fonts */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* Estilização do site */
:root{
    --primary-color: #FEFEDA;
    --secondary-color: #C2EE98;
    --tertiary-color:  #fff;
    --quaternary-color: #183114;
    --quinary-color: #000;
    --font-logo: 'ADLaM Display', sans-serif;
    --font-title: 'poppins', sans-serif;
    --font-body: 'roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    overflow-y: scroll;
    -ms-overflow-style: none;
    background-color: var(--primary-color);
}

body::-webkit-scrollbar{
    display: none;
}

/* Estilização  geral */

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-title);
    color: var(--quaternary-color);
    font-weight: bold;
}

p{
    font-family: var(--font-body);
    color: var(--quinary-color);
    font-weight: 400;
}

.navbar{
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background: linear-gradient(90deg,rgba(24, 49, 20, 1) 0%, rgba(68, 97, 41, 1) 100%);
}


.navbar-brand{
    font-family: var(--font-logo);
    font-size: 1.5rem;
    color: var(--primary-color);
}

.navbar-brand:hover, .nav-link:hover{
    color: var(--secondary-color);
}

.nav-item{
    margin: 0 1rem;
    padding: 0 1rem;
}

.nav-link{
    font-family: var(--font-logo);
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: none;
}

.lead{
    font-style: italic;
}

.line{
    border-left: .3rem solid var(--quaternary-color);
    padding-left: .9rem;
}

.footer{
    padding: .6rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background: linear-gradient(90deg,rgba(24, 49, 20, 1) 0%, rgba(68, 97, 41, 1) 100%);
}

.footer-p{
    color: var(--tertiary-color);
}

.containerbx p{
    margin-top: 1rem;
}

.bi-github, .bi-linkedin{
    color: var(--tertiary-color);
    margin-left: 1rem;
}

@media screen and (max-width: 768px){
    .navbar-brand{
        font-size: 1.2rem;
    }
    .nav-item{
        margin: 0 0.5rem;
        padding: 0 0.5rem;
    }
    .nav-link{
        font-size: .9rem;
    }
    
    .footer{
        font-size: .9rem;
    }
    .navbar-toggler{
        border: none;
    }
    
    .navbar-toggler:focus{
        box-shadow: none;
    }
    
    .bi-list{
        font-size: 2rem;
        color: var(--primary-color);
        font-weight: 900;
    }

    p{
        text-align: justify;
        font-size: 1rem;
    }

    .footer-p{
        text-align: center;
    }
    
}